
Notepad/Build/

GDriveApp/build-GDriveApp-Desktop_Qt_5_13_0_MinGW_32_bit-Debug/

GDriveApp/build/Desktop_Qt_5_13_0_MinGW_32_bit-Debug/debug/

GDriveApp/build/Desktop_Qt_5_13_0_MinGW_32_bit-Debug/

GDriveApp/Demo_Image/

GDriveApp/src/oauthglobal.h